@using Website_BanVeMayBay.Models;

@model PagedList.PagedList<ChuyenBay>
<link href="~/Content/TrangChuCss.css" rel="stylesheet" />
@{
    Layout = "~/Views/LayOut/NguoiDungLayout.cshtml";
    ViewBag.Title = "Trang chủ";
}
@section NoiDungBenPhai{
    @**@}

<div id="divBody">

</div>}